body{
background-image: url(blue.jpg);
background-repeat: no-repeat;
background-size: cover;
}
h1{
    text-align: center;
    color: #535C91;
}
.heading{
        color: aliceblue;
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    
}

  

#outer{
    position: relative;
    padding-bottom: -30px;
    margin-top: 50px;
    margin-left:330px ;
    margin-bottom: 50px;
   background-image: url(digital.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   width: 50%;
   height: 600px;
   border-radius: 20px;


    
}
input{
    border:0 0 1 0;
    opacity: 0.2;
}

form{
    margin-top: 60px;
    margin-left: 250px;
}

button{
    height: 40px;
    width: 90px;
    border-radius: 10px;
    border:none;
    color: aliceblue;
}
.img{
    
   border-radius: 50%;
   margin-top: 20px;
    margin-left: 270px ;
    
}

.btn{
    margin-left: 50px;
}
.btn:hover{
    color: gray;

}

